{% extends 'main/base.html' %}

{% block title %}Kushaem.ru Login{% endblock %}

{% block content %}
    <div id="login-form">
        {%for error in errors%}
            <p>{{ error }}</p>
        {% endfor %}

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <input class="button" type="submit" value="login"/>
            <a href="/register/">если вы не зарегистрированы</a>
        </form>
    </div>

    {% block autorization %}
        <div id="autorization">

        <div id="home"><a href="/"><i class="fa fa-home fa-2x"></i></a></div>

        </div>
    {% endblock %}

{% endblock %}