{% extends 'main/base.html' %}

{% block title %}Kushaem.ru Register{% endblock %}

{% block content %}
    <div id="register-form">
    <form action="" method="post">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
      {{ form.as_p }}
      <button class="button" type="submit">Зарегистрироваться</button>
    </form>
    </div>
{% endblock %}