@font-face {
    font-family: SanFrancisco; /* Гарнитура шрифта */
    src: url(../fonts/SF-UI-Display-Regular.otf); /* Путь к файлу со шрифтом */
}

*{
	margin: 0;
	padding: 0;
	color: #211;
	font-family: SanFrancisco, Helvetica, sans-serif;
	font-size: 16px;
}

body{
    background: url(../bg.jpg) no-repeat fixed;
    background-size: 70%;
}

#wrapper{
	width: 60%;
    margin: 0 auto -2.2em;
    text-align: center;
	min-height: 100%;
	box-sizing: border-box;
}

#wrapper:after{
    content:'';
    height: 2em;
    width: 100%;
    display: block;
}

#main{
    margin-top: 230px;
}

#main h1 {
    font-size: 60px;
    margin-bottom: 25px;
    color: #FF6666;
}

#search select:hover, #search input:hover{
	border: 1px solid #777;
}

#search select:focus, #search input:focus{
	outline: none;
	border: 3px solid #FF9999;
	background-color: #fef;
}

#search select, #search input, #button{
	height: 40px;
	border: 1px solid #bbb;
	padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	background-color: #fff;
}

#search input{
	width: 430px;
	margin-right: -5px;	
}

#search select{
	width: 120px;
	margin-right: -5px;
}

#search #button{
	width: 120px;
	background-color: #FF6666;
	color: #fff;
	border: none;
	padding: 0;
	font-size: 15px;
	opacity: .8;
}

#search #button:hover{
	cursor: pointer;
	opacity: 1;
}

#header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 20px;
    line-height: 40px;
    height: 70px;
    border-bottom: 3px solid #FF6666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 5px 20px;
}

#header h1{
    display: inline-block;
    font-size: 40px;
    color: #FF6666;
    float: left;
    margin-left: 180px;
}

#header h1:hover{
    cursor: pointer;
    color: #ff0842;
}

#content{
    margin-top: 95px;
    padding: 5px 10px;
}

#content .search p{
    text-align: left;
    color: #565ea3;
    font-size: 14px;
}

.blocks{
    padding-top: 15px;
}

.blocks .block{
    margin-bottom: 15px;
    height: 150px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
}

.info{
	padding-left: 15px;
	display: inline-block;
	vertical-align: top;
	line-height: 25px;
}

.info h3 a, .info h3{
	font-size: 25px;
	color: #FF6666;
}

ul{
	list-style: none;
}

#autorization{
	position: absolute;
	top:0;
	right:0;
	margin-right:15px;
	margin-top:27px;
}

#autorization>div{
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 10px;
}

#autorization>div i{
	color: #FF6666;
}

#autorization>div:hover i{
	color: #ff0842;
	cursor:pointer;
}

#footer{
	height: 2.2em;
	text-align: center;
	background-color: rgba(255,255,255,0);
	box-sizing: border-box;
	position:fixed;
	bottom:0;
	width:100%;
	margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

#footer ul{
	height: 2.2em;
	box-sizing: border-box;	
}

#footer li{
	background-color: rgba(255,255,255,0.75);
	display: inline-block;
	margin-right: 10px;
	height: 2.2em;
	width: 120px;
	box-sizing: border-box;
	padding: 5px;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

#footer li:hover{
	border-bottom: 5px solid #FF6666;
	color: #FF6666;
	cursor: pointer;
}

#sidebar{
	position: fixed;
	right: -25px;
	top: 175px;
	width: 60px;
	-webkit-transition: right 0.2s linear;
	-moz-transition: right 0.2s linear;
	-o-transition: right 0.2s linear;
	transition: right 0.2s linear;
}

#sidebar ul{

}

#sidebar li{
	display: block;
	width: 55px;
	height: 55px;
	background-color: #000;
	margin-bottom: 5px;
	text-align: center;
    opacity: .7;
}

#sidebar li i{
	color: ghostwhite;
	line-height: 55px;
}

#sidebar:hover{
    right: -5px;
}

#sidebar li:hover{
    opacity: 1;
    cursor: pointer;
}

#sidebar li:nth-child(1){
	background-color: #597da3;	
}

#sidebar li:nth-child(2){
	background-color: #4099FF;	
}

#sidebar li:nth-child(3){
	background-color: #F6881F;	
}

#sidebar li:nth-child(4){
	background-color: #3b5998;	
}

#login-form, #register-form{
	margin: 0 auto;
	border: 2px solid #FF6666;
	padding: 35px;
	margin-top: 20%;
	width: 50%;
}
#register-form{
	width: 100%;
}

#login-form input, #register-form input{
	height: 25px;
}
.button{
	height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 150px;
	background-color: #FF6666;
	color: #fff;
	border: none;
	padding: 0;
	font-size: 15px;
	opacity: .8;
}

.button:hover{
	cursor: pointer;
	opacity: 1;
}

.big-image{
	border: 1px solid rgba(224, 208, 208, .65);
	float: left;
	width: 200px;
	height: 200px;
}

.small-image{
	display: inline-block;
	border: 1px solid rgba(224, 208, 208, .65);
	width: 130px;
	height: 130px;
}

.big-image img{
	width: 100%;
	height: 100%;
}

.small-image img{
	width: 100%;
	height: 100%;
}

.object{
	margin-top: 95px;
	height: 200px;
}

#loader{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
#loader i{
	color: #FF6666;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }