@font-face {
    font-family: SanFrancisco; /* Гарнитура шрифта */
    src: url(../fonts/SF-UI-Display-Regular.otf); /* Путь к файлу со шрифтом */
}

*{
	margin: 0;
	padding: 0;
	color: #211;
	font-family: SanFrancisco, Helvetica, sans-serif;
	font-size: 16px;
}

body{
    background: url(../bg.jpg) no-repeat fixed;
    background-size: 70%;
}

#wrapper{
	width: 60%;
    margin: 0 auto -2.2em;
    text-align: center;
	min-height: 100%;
	box-sizing: border-box;

}

#wrapper.index{
	padding-top: 20%;
}

#main{

}

#main h1 {
    font-size: 60px;
    margin-bottom: 25px;
    color: #FF6666;
}

#search select:hover, input:hover{
	border: 1px solid #777;
}

#search select:focus, input:focus{
	outline: none;
	border: 3px solid #FF9999;
	background-color: #fef;
}

#search select, input, #button{
	height: 40px;
	border: 1px solid #bbb;
	padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	background-color: #fff;
}

#search input{
	width: 430px;
	margin-right: -5px;	
}

#search select{
	width: 120px;
	margin-right: -5px;
}

#search #button{
	width: 120px;
	background-color: #FF6666;
	color: #fff;
	border: none;
	padding: 0;
	font-size: 15px;
	opacity: .8;
}

#search #button:hover{
	cursor: pointer;
	opacity: 1;
}

#header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 20px;
    line-height: 40px;
    height: 70px;
    border-bottom: 3px solid #FF6666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 5px 20px;
}

#header h1{
    display: inline-block;
    font-size: 40px;
    color: #FF6666;
    float: left;
    margin-left: 180px;
}

#header h1:hover{
    cursor: pointer;
    color: #ff0842;
}

#content{
    margin-top: 95px;
    padding: 5px 10px;
}

#content .search p{
    text-align: left;
    color: #565ea3;
    font-size: 14px;
}

#content .paginator a:hover{
    color: #565ea3;
}

#content .paginator a{
    display: inline;
    color: rgba(86, 94, 163, 0.75);
    text-decoration: none;
}

#content .paginator{
	margin-bottom: 2.5em;
}

#content .blocks{
    padding-top: 15px;
}

#content .blocks .block{
    border: 1px solid black;
	background-color: #fffceb;
    margin-bottom: 15px;
    height: 150px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul{
	list-style: none;
}

#footer{
	height: 2.2em;
	text-align: center;
	background-color: rgba(255,255,255,0);
	box-sizing: border-box;
	width:100%;
    margin-left: auto;
    margin-right: auto;
}

#footer ul{
	height: 2.2em;
	box-sizing: border-box;	
}

#footer li{
	display: inline-block;
	margin-right: 10px;
	height: 2.2em;
	width: 120px;
	box-sizing: border-box;
	padding: 3px;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

#footer li:hover{
	border-bottom: 5px solid #FF6666;
	color: #FF6666;
	cursor: pointer;
}

#sidebar{
	position: fixed;
	right: -30px;
	top: 30%;
	width: 60px;
	-webkit-transition: right 0.2s linear;
	-moz-transition: right 0.2s linear;
	-o-transition: right 0.2s linear;
	transition: right 0.2s linear;
}

#sidebar ul{

}

#sidebar li{
	display: block;
	width: 55px;
	height: 55px;
	background-color: #000;
	margin-bottom: 5px;
	text-align: center;
    opacity: .7;
}

#sidebar li i{
	color: ghostwhite;
	line-height: 55px;
}

#sidebar:hover{
    right: -5px;
}

#sidebar li:hover{
    opacity: 1;
    cursor: pointer;
}

#sidebar li:nth-child(1){
	background-color: #597da3;	
}

#sidebar li:nth-child(2){
	background-color: #4099FF;	
}

#sidebar li:nth-child(3){
	background-color: #F6881F;	
}

#sidebar li:nth-child(4){
	background-color: #3b5998;	
}

#autorization{
	position: absolute;
	top: 0;
	right: 0;
}

#autorization-menu{
	height: 2.2em;
	box-sizing: border-box;
	text-align: center;	
	margin-right: 70px;
}

#autorization-menu li{
	display: inline-block;
	margin-left: 10px;
	height: 2.2em;
	width: 120px;
	box-sizing: border-box;
	padding-top: 12px;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

#autorization-menu li:hover{
	padding-top: 7px;
	border-top: 5px solid #FF6666;
	color: #FF6666;
	cursor: pointer;
}

.big-image{
	border: 1px solid rgba(224, 208, 208, .65);
	float: left;
	width: 260px;
	height: 260px;
}

.small-image{
	border: 1px solid rgba(224, 208, 208, .65);
	float: left;
	width: 130px;
	height: 130px;
}

.big-image img{
	width: 100%;
	height: 100%;
}

.small-image img{
	width: 100%;
	height: 100%;
}