{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/ico" />
    <title>{% block title %}Kushaem.ru{% endblock %}</title>
</head>

<body>
    <div id="wrapper">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <ul>
            <li>О сайте</li>
            <li>Правила</li>
            <li>Владельцам</li>
            <li>О нас</li>
        </ul>
    </div>
    <div id="sidebar">
        <ul>
            <li><i class="fa fa-vk fa-2x"></i></li>
            <li><i class="fa fa-twitter fa-2x"></i></li>
            <li><i class="fa fa-odnoklassniki fa-2x"></i></li>
            <li><i class="fa fa-facebook fa-2x"></i></li>
        </ul>
    </div>
    {% block autorization %}
    <div id="autorization">

    {% if user.is_authenticated %}
        <div id="settings"><a href="/settings/"><i class="fa fa-cog fa-2x"></i></a></div>
        <div id="logout"><a href="/logout/"><i class="fa fa-sign-out fa-2x"></i></a></div>
    {% else %}
        <div id="login"><a href="/login/"><i class="fa fa-sign-in fa-2x"></i></a></div>
        <div id="registration"><a href="/register/"><i class="fa fa-user-plus fa-2x"></i></a></div>
    {% endif %}

    </div>
    {% endblock %}
    <script>
        $("#loader").hide();
    </script>
</body>
</html>


