{% extends "main/cafe.html" %}
{% load static %}
{% block attachment %}
    <a href="/cafe/{{ cafe.id }}/products/">Посмотреть все блюда</a>
    <hr />
    {% if user_login == True %}
    <form action="/cafe/{{ cafe.id }}/comment/" method="POST">
    {% csrf_token %}
    <textarea name="text-comment"></textarea>
    <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    </select>
    <input type="submit" value="Отправить"/>
    </form>
    <hr />
    {% else %}
        Ты должен войти на сайт, чтобы оставить отзыв!
        <a href="/login?next=/cafe/{{ cafe.id }}">Войти</a>
    {% endif %}
    <div class="blocks">
    <ul>
        {% for c in comments %}
            <li>
            <div class="block">
                <div class="small-image">
                    {% if user.profile.avatar.url != None %}
                    <img src="{{ user.profile.avatar.url }}" alt=""/>
                    {% else %}
                    <img src="{% static 'default_img.png' %}" alt=""/>
                    {% endif %}
                </div>
                <div class="info">
                    <p>{{ c.user }}</p>
                    <p>{{ c.text }}</p>
                    <p>{{ c.rating }}</p>
                </div>
            </div>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}
