{% extends "main/cafe.html" %}
{% load static %}
{% block attachment %}
    <div class="blocks">
    <a href="/cafe/{{ cafe.id }}/comments/">Посмотреть комментарии к кафе</a>
    <ul>
        {% for p in products %}
            <li>
        <div class="block">
            <div class="small-image">
                {% if p.image.url != None %}
                <img src="{{ p.image.url }}" alt=""/>
                {% else %}
                <img src="{% static 'default_img.png' %}" alt=""/>
                {% endif %}
            </div>
        <div class="info">
            <p><a href="/product/{{ p.id }}">{{ p.name }}</a></p>
            <p>{{ p.rating }}</p>
            <p>{{ p.description }}</p>
        </div>
        </div>
            </li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
