{% extends "main/base.html" %}
{% load static %}
{% load endless %}
{% block title %}Kushaem.ru Cafes{% endblock %}

{% block content %}
{% include 'main/header.html' %}
    <div id="content">
            <div class="search">
                {% if searchtext %}
                <p>Результаты поиска {{ searchtext }}</p>
                {% endif %}
                <p id="found">Найдено {{ found }}</p></div>
        <div class="blocks">
            <ul>
            {% paginate cafes %}
                {% for c in cafes %}
                <li>
                    <div class="block">
                        <div class="small-image">
                            {% if c.image.url != None %}
                            <img src="{{ c.image.url }}" alt=""/>
                            {% else %}
                            <img src="{% static 'default_img.png' %}" alt=""/>
                            {% endif %}
                        </div>
                        <div class="info">
                            <h3><a href="/cafe/{{ c.id }}/products">{{ c.name }}</a></h3>
                            <p>{{ c.rating }}</p>
                            <p>{{ c.description }}</p>
                            <p>Registered at: {{ c.registered_at }}</p>
                            <a href="/cafe/{{ c.id }}/comments">Посмотреть все отзывы</a>
                        </div>
                    </div>
                </li>
                {% empty %}
                <p>Sorry, no cafes!</p>
                {% endfor %}
            {% show_pages %}
            </ul>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
