{% extends "main/base.html" %}
{% load static %}
{% block title %}Kushaem.ru {{ cafe.name }}{% endblock %}

{% block content %}
    {% include 'main/header.html' %}
    <div class="object">
    <div class="block">
    <div class="big-image">
        {% if cafe.image.url != None %}
        <img src="{{ cafe.image.url }}" alt=""/>
        {% else %}
        <img src="{% static 'default_img.png' %}" alt=""/>
        {% endif %}
    </div>
    <div class="info">
        <h3>{{ cafe.name }}</h3>
        <p>{{ cafe.rating }}</p>
        <p>{{ cafe.description }}</p>
        <p>Registered at: {{ cafe.registered_at }}</p>
        <a href="/cafes/">Просмотреть все кафе</a>
    </div>
    </div>
    </div>
    {% block attachment %}{% endblock %}
{% endblock %}


