<div id="header">
        <div id="logo"><a href="/"><h1>Кушаем.ру</h1></a></div>
		<div id="search">
			<form action="/search/" method="GET">
				<select name="type-search">
					<option value="cafe">Заведения</option>
					<option value="product">Блюда</option>
				</select>
				<input name="text-search" type="text" placeholder="Поиск..." />
				<input type="submit" id="button" value="Искать!" />
			</form>
		</div>
</div>