{% extends "main/base.html" %}
{% load static %}
{% block title %}Kushaem.ru {{ product.cafe.name }} - {{ product.name }}{% endblock %}

{% block content %}
    {% include 'main/header.html' %}
    <div class="object">
    <div class="block">
    <div class="big-image">
        {% if product.image.url != None %}
        <img src="{{ product.image.url }}" alt=""/>
        {% else %}
        <img src="{% static 'default_img.png' %}" alt=""/>
        {% endif %}
    </div>
    <div class="info">
        <h3>{{ product.name }}</h3>
        {% for tag in tags %}
        {{ tag }},
        {% endfor %}
        <p id="product-rating">{{ product.rating }}</p>
        <p>{{ product.description }}</p>
        <a href="/cafe/{{ product.cafe.id }}/products/">Посмотреть все блюда</a>
    </div>
    </div>
    </div>
    <hr />
    {% if request.user.is_authenticated == True %}
    <form action="comment/" method="POST" id="formx">
    {% csrf_token %}
    <textarea name="text-comment"></textarea>
    <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    </select>
    <input type="submit" value="Отправить"/>
    </form>
    <hr />
    {% else %}
        Ты должен войти на сайт, чтобы оставить отзыв!
        <a href="/login?next=/product/{{ product.id }}/">Войти</a>
    {% endif %}
    <div class="blocks">
    <ul>
        {% for c in comments %}
            <li id="comments">
            <div class="block">
                <div class="small-image">
                    {% if user.profile.avatar.url != None %}
                    <img src="{{ user.profile.avatar.url }}" alt=""/>
                    {% else %}
                    <img src="{% static 'default_img.png' %}" alt=""/>
                    {% endif %}
                </div>
                <div class="info">
                    <p>{{ c.user }}</p>
                    <p>{{ c.text }}</p>
                    <p>{{ c.rating }}</p>
                    <small style="color:gray;">{{ c.created_at }}</small>
                </div>
            </div>
            </li>
        {% endfor %}
    </ul>
    </div>
    <script>
        $('#formx').submit(function() { // catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function(response) { // on success..
                    var r = response;
                    var template = "<div class='block'><div class='small-image'><img src='"+r['ava']+"' alt=''/></div><div class='info'><p>"+r['user']+"</p><p>"+r['rating']+"</p><p>"+r['text']+"</p><small style='color:gray;'>"+r['created_at']+"</small></div></div>";
                    $('#comments').prepend(template);
                    $('#product-rating').html(r['product-rating']);
                }
            });
            return false;
        });
    </script>
{% endblock %}

