{% extends "main/base.html" %}
{% load static %}
{% block title %}Kushaem.ru Products{% endblock %}

{% block content %}
<div id="header">
        <div id="logo"><a href="/"><h1>Кушаем.ру</h1></a></div>
		<div id="search">
			<form action="/search/" method="GET">
				<select name="type-search">
					<option value="cafe">Заведения</option>
					<option value="product">Блюда</option>
				</select>
				<input name="text-search" type="text" placeholder="Поиск..." />
				<input type="submit" id="button" value="Искать!" />
			</form>
		</div>
    </div>
    <div id="content">
        {% if searchtext %}
            <div class="search"><p>Результаты поиска {{ searchtext }}</p></div>
        {% endif %}
        <div class="blocks">
            <ul>
                {% for p in products %}
                <li>
                    <div class="block">
                        <div class="small-image">
                            {% if p.image.url != None %}
                            <img src="{{ p.image.url }}" alt=""/>
                            {% else %}
                            <img src="{% static 'default_img.png' %}" alt=""/>
                            {% endif %}
                        </div>
                        <div class="info">
                            <h3><a href="/product/{{ p.id }}">{{ p.name }}</a></h3>
                            {% for tag in p.tags.names %}
                                {{ tag }},
                            {% endfor %}
                            <p>{{ p.description }}</p>
                            <p><a href="/cafe/{{ p.cafe_id }}/products">{{ p.cafe }}</a></p>
                            <a href="/product/{{ p.id }}">Посмотреть все отзывы</a>
                        </div>
                    </div>
                </li>
                {% empty %}
                <p>Sorry, no products!</p>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


