{% extends "main/base.html" %}

{% block content %}
<div id="main">
        <div id="logo"><h1>Кушаем.ру</h1></div>
		<div id="search">
			<form action="/search/" method="GET">
				<select name="type-search">
					<option value="cafe">Заведения</option>
					<option value="product">Блюда</option>
				</select>
				<input id="text-search" name="text-search" type="text" placeholder="Поиск..." />
				<input type="submit" id="button" value="Искать!" />
			</form>
		</div>
</div>
{% endblock %}
